.grid-container {
    min-height: 100%;
    display: grid;
    grid-template-areas:
      'hd hd'
      'sd main'
      'ft ft';
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
  }
.header {
    grid-area: hd;
    background-color: var(--body-background);
    border-bottom: 1px solid var(--text);
    padding: 1rem;
}
.sidebar {
    grid-area: sd;
}
.main {
    grid-area: main;
}
footer {
    grid-area: ft;
}
.logo {
    font-size: 2rem;
}