<h3>{{ pageHeader }}</h3>

<button 
  routerLink='/customer/add' 
  label="Add Customer" 
  pButton 
  type="button" 
  icon="pi pi-user-plus" 
  iconPos="left" ></button>

<br />
<p-table [value]="customers" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
  [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
  <ng-template pTemplate="header">
      <tr>
        <th style="width: 3em"></th>
        <th style="width: 3em"></th>
          <th *ngFor="let col of cols">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
      <tr class="prime-ng-row">
          <td>
            <button pButton 
            pTooltip="Delete"
            type="button" 
            icon="pi pi-times"
            (click)="confirmDelete(customer)"
            class="p-button-sm p-button-text p-button-danger p-button-outlined"></button>
          </td>
          <td>
            <button pButton 
            pTooltip="Edit"
            type="button" 
            icon="pi pi-user-edit"
            routerLink="/customer/detail/{{ customer.id }}"
            class="p-button-sm p-button-text p-button-secondary p-button-outlined"></button>
          </td>
          <td *ngFor="let col of cols">
                  {{customer[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>