<h3>{{ pageHeader }}</h3>

<form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit(addCustomerForm.value)">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control" id="middleName" formControlName="middleName">
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



<div class="grid" *ngFor="let customer of customers">
    <span>{{ customer.firstName }}</span>
    <span>{{ customer.middleName }}</span>
    <span>{{ customer.lastName }}</span>
</div>
