<h3>{{ pageHeader }}</h3>

<p-table [value]="customers" selectionMode="single">
  <ng-template pTemplate="header">
      <tr>
          <th *ngFor="let col of cols">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
      <tr class="prime-ng-row" (click)="selectCustomer(customer)">
          <td *ngFor="let col of cols">
                  {{customer[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>


<form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit(addCustomerForm.value)">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control" id="middleName" formControlName="middleName">
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

